html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (max-width: 600px) {
    .teks {
        font-size: 4em;
        top: -10px;
    }

    .teks2 {
        font-size: 1.2em;
        top: -20px;
    }

    .btn {
        height: 30px;
        width: 100px;
        top: 10px;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
}

body {
    background-image: url('/gambar/background pict fix.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.teks {
    color: #ffffff;
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 7em; /* Ukuran teks diperbesar */
    text-shadow: 0px 0px 3.5px #ffffff;
    margin-bottom: 40%;
}

.teks2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 1.8em; /* Ukuran teks diperbesar */
    margin-bottom: 20px;
}

a {
    color: inherit; /* Menyesuaikan warna dengan warna teks default */
    text-decoration: none; /* Menghilangkan garis bawah */
}

/* Gaya untuk link saat di-hover */
a:hover {
    color: #ffffff; /* Warna saat di-hover */
    text-decoration: underline; /* Tambahkan garis bawah saat di-hover jika diinginkan */
}

.btn {
    background-color: #fb563f;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    font-family: 'Dela Gothic One';
    font-size: 1.2em; /* Ukuran teks tombol diperbesar */
    border: none;
    cursor: pointer;
    line-height: normal;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #F99A86;
}

.logo {
    position: relative;
    margin-top: -30px  ;
    margin-right: 20%;
}
