html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (max-width: 600px) {
        .container {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Menggunakan auto-fit agar kolom sesuai lebar dan minimal 200px */
        }
        .penyakit1, .deskripsi1, .jual1, .rumahsakit1 {
            width: 100%; /* Mengisi lebar layar pada layar kecil */
        }
}

@media screen and (max-width: 768px) {
    .text {
      font-size: 2em; /* Adjust the font size for smaller screens */
      margin-top: 60px; /* Adjust the margin-top for spacing */
    }
    .text2 {
      font-size: 1.2em; /* Adjust the font size for smaller screens */
    }
  }

  @media screen and (max-width: 600px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
    }

    .navbar-toggler {
        background-color: #fff;
    }

    .navbar-nav .nav-link {
        text-align: center;
        padding: 10px;
        width: 100%;
    }
}
@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
}

body {
    background-color: #FFF5EF;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.background {
    background-size: cover;
}

.container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80%;
    margin: 200px auto;
    display: grid;
    align-items: center;
    gap: 10px; /* Jarak antar kolom */
}

  .menu {
    justify-content:center;
    position: relative;
}
  .responsive-image {
    max-width: 100%;
    height: auto;
    background-color: #FEDDC8;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: rgb(254, 221, 200, 0.8);
    padding: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar-brand img {
    width: 100%;
}

/* Style untuk menu pada navbar */
.navbar-nav {
    margin-left: auto; /* Menempatkan menu di sebelah kanan */
}

/* Style untuk setiap item pada navbar */
.navbar-nav .nav-item {
    margin-right: 10px; /* Memberikan jarak antar item */
}

/* Style untuk teks pada menu */
.navbar-nav .nav-link {
    color: #000; /* Warna teks menu */
}

/* Style untuk tombol toggler pada perangkat seluler */
.navbar-toggler {
    border: none; /* Menghilangkan border tombol */
}

/* Style untuk menu dan dropdown pada perangkat seluler */
@media screen and  (max-width: 600px) {
    .navbar-nav {
        flex-direction: column; /* Menata menu secara vertikal */
        align-items: flex-start; /* Menempatkan menu di kiri */
        margin-top: 10px; /* Memberikan jarak atas pada menu */
    }

    .navbar-nav .nav-item {
        margin-right: 0; /* Menghilangkan jarak antar item */
    }

    /* Style untuk tombol toggler pada perangkat seluler */
    .navbar-toggler {
        background-color: #fff; /* Memberikan warna latar belakang tombol */
    }

    /* Style untuk teks pada menu perangkat seluler */
    .navbar-nav .nav-link {
        text-align: left; /* Menata teks menu menjadi kiri */
        padding: 10px; /* Memberikan padding pada teks menu */
        width: 100%; /* Membuat teks menu mengisi lebar penuh */
    }
}

  .menu {
    justify-content:left;
    position: relative;
}

.text{
    font-family: 'Poppins';
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #C1273C;
    top: 80px;
    position: relative;
}

.text2{
    font-family: 'Poppins';
    text-align: center;
    font-size: 20px;
    color: #47020c;
    top: 70px;
    position: relative;
}
  .penyakit1 {
    background-color: #5A073B;
    border-radius: 50px 8px 50px 8px;
    width: 75%; /* Mengisi lebar kolom */
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 5px; /* Jarak antar kotak dalam satu kolom */
  }

.gbr-penyakit {
    left: 10px;
    top: 25px;
    height: 200px;
    position: relative;
}

.teks-penyakit {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding: 10px;
    top: 230px;
    right: 140px;
    position: relative;
    text-align: center;
}

.penyakit1:hover{
    background-color: #7D3462;
}

.deskripsi1 {
    background-color: #C1273C;
    border-radius: 50px 8px 50px 8px;
    width: 75%; /* Mengisi lebar kolom */
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 10px; /* Jarak antar kotak dalam satu kolom */
}

.gbr-deskripsi {
    top: 20px;
    height: 200px;
    position: relative;
}

.teks-deskripsi {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding: 10px;
    top: 220px;
    right: 140px;
    position: relative;
}

  .deskripsi1:hover{
      background-color: #E08693;
  }

  .jual1 {
      background-color: #B35366;
    border-radius: 50px 8px 50px 8px;
    width: 95%; /* Mengisi lebar kolom */
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 10px;
  }

  .gbr-jual {
      left: 20px;
      height: 230px;
      position: relative;
  }

  .teks-jual {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      color: #ffffff  ;
      text-align: center;
      padding: 10px;
      top: 200px;
      right: 155px;
      position: relative;
  }

  .jual1:hover {
      background-color: #CE8896;
  }
  .rumahsakit1 {
      background-color: #D85E69;
    border-radius: 50px 8px 50px 8px;
    width: 85%; /* Mengisi lebar kolom */
    height: 305px  ;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 10px;
    margin-left: 38px;

  }

  .gbr-rumahsakit {
      height: 200px;
      left: 12px;
      top  : 15px;
      position: relative;
  }

  .teks-rumahsakit {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      top: 200px;
      right: 140px;
      position: relative;
  }

  .rumahsakit1:hover{
      background-color: #EAA0A6;
  }

  .footer-basic {
    padding:40px 0;
    background-color:#feddc8cc;
    padding-top:50px;
    padding-bottom: 50px;
    margin-block-start: 10px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
  }

  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic li {
    padding:0 10px;
  }

  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .copyright {
    font-family: 'Poppins';
    margin-top:15px;
    text-align:center;
    font-size:20px;
    color:#bb8c9a;
    margin-bottom:0;
}

  .list-inline {
      font-family: 'Poppins';
      color:#bb8c9a;
  }

  .nav-link {
    font-family: 'Poppins';
    font-weight: bold;
    color:#230c0f;
  }
.nav-link:hover {
    color: #92183D;
}
