html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (max-width: 600px) {
    /* Gaya CSS untuk layar berlebar kurang dari 600px */
  }

@font-face {
    font-family: 'Poppins';
    src: ("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #FFF5EF;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: #feddc8cc;
    padding: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu {
    justify-content:left;
    left: 580%;
    position: relative;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
}

.search-container {
    text-align: center;
    margin-top: 1cm;
}

  /* Gaya untuk input pencarian */
.search-input {
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

  /* Gaya untuk tombol pencarian */
  .search-button {
    padding: 20px;
    background-color: #C82840;
    color: white;
    border: 1px solid #C82840;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  /* Gaya hover untuk tombol pencarian */
  .search-button:hover {
    background-color: #92183D;
  }

.label {
    height: 65px;
    width: 521px;
}

.text{
    color: #5A073B;
    font-family: 'Dela Gothic One';
    font-size: 40px;
    margin-top: 110px;
    text-align: center;
}

.text1 {
    color: #5A073B;
    font-family: 'Poppins';
    font-size: 27px;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}

hr {
    border: none;
    height: 2px;
    background-color: #333; /* Warna garis */
    margin: 40px 110px; /* Jarak dari elemen di sekitarnya */
}

/* Atau, Anda juga dapat memberikan efek bayangan atau margin agar lebih menarik */
hr.fancy {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #5a073b, #FFE7D4 , #5a073b); /* Gradien warna */
    box-shadow: 0 5px 5px -5px #333; /* Efek bayangan */
}
.vit_obat {
    color: #5a073b;
    font-family: "Dela Gothic One";
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    left: 575px;
    top: -145px;
    overflow: hidden;
    position: relative;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 10px; /* Jarak antar kolom */
  }

  .column {
    flex: 1; /* Merespons secara fleksibel, sehingga akan ada lima kolom */
  }

  .box {
    width: 200px; /* Mengisi lebar kolom */
    height: 230px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-bottom: 10px; /* Jarak antar kotak dalam satu kolom */
  }

  .picture {
    height: 150px;
    width: 90%;
    margin-top: -60px;
    /* background-color:#92183D; */
    border-radius: 7px;
  }
  .picture img{
    max-width: 100%;
    height: 100PX;
    display: block; /* Mencegah adanya margin bawah pada gambar */
    margin: auto;   /* Memberikan efek centering */
  }
  .button{
    width:10px;
  }

  .button-container {
    position: relative;
    text-align: center; /* Sesuaikan dengan kebutuhan */
}

  .teks {
    text-align: center;
    /* font-size: 13px; */
    /* flex: 2; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .menu {
    justify-content:left;
    left: 580%;
    position: relative;
}
  .beli {
    height: 27px;
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    align-items: center;
    text-align: center;
    background-color:#92183D;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .beli:hover{
    background-color:  #D85E69;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .card {
    cursor: pointer;
    height: 260px;
    width: 210px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
  }
  .card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .popup {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* margin-top: 100px; */
  }

  .popup-text {
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Tampilkan elemen secara vertikal */
}

.popup-text .button-container {
    text-align: center;
}

.popup-text .buy-button1 {
    width: 130px;
    padding: 8px 16px;
    background-color: #C82840;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Sesuaikan dengan nilai margin yang diinginkan */
}

.popup-text.quantity-input {
    margin-bottom: 10px; /* Berikan jarak antara input kuantitas dan tombol keranjang */
}

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 700px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: 600px; /* Sesuaikan dengan ukuran yang diinginkan */
    overflow: auto;
  }

  .close {
    position: fixed; /* Tetap pada posisi yang sama saat scrolling */
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10000; /* Pastikan z-index lebih tinggi dari elemen lain di halaman */
}
  .p {
    position: absolute;

  }
  h2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
}
.keterangan{
    font-weight: bold;
}
.keterangan-isi{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buy-button1 {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    padding: 8px 16px;
    background-color: #C82840;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Sesuaikan dengan nilai margin yang diinginkan */
}
.buy-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    padding: 8px 16px;
    background-color: #C82840;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Sesuaikan dengan nilai margin yang diinginkan */
}

.buy-button:hover {
    background-color:#92183D;
}
/* untuk mt"an */
.mt-40{
  margin-top: 40px;
}
.mb-40{
    margin-bottom: 50px;
}

