html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (max-width: 600px) {
    /* Gaya CSS untuk layar berlebar kurang dari 600px */
  }

@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #FFF5EF;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: #feddc8cc;
    padding: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .menu {
    justify-content:left;
    left: 580%;
    position: relative;
}

   /* Gaya untuk container */
   .search-container {
    text-align: center;
    margin-top: 6cm;
}

  /* Gaya untuk input pencarian */
.search-input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

  /* Gaya untuk tombol pencarian */
  .search-button {
    padding: 20px;
    background-color: #C82840;
    color: white;
    border: 1px solid #C82840;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  /* Gaya hover untuk tombol pencarian */
  .search-button:hover {
    background-color: #92183D;
  }

.text{
    color: #5A073B;
    font-family: 'Dela Gothic One';
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: -180px;
    text-align: center;
}

.text1{
    color: #000000;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: -180px;
    text-align: center;
}
.text2 {
    color: #5A073B;
    font-family: 'Poppins';
    font-size: 27px;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}
hr {
    border: none;
    height: 2px;
    background-color: #333; /* Warna garis */
    margin: 40px 110px; /* Jarak dari elemen di sekitarnya */
}

/* Atau, Anda juga dapat memberikan efek bayangan atau margin agar lebih menarik */
hr.fancy {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #5a073b, #FFE7D4 , #5a073b); /* Gradien warna */
    box-shadow: 0 5px 5px -5px #333; /* Efek bayangan */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 5px;
    margin-left: 190px; /* ubah nilai margin-right sesuai kebutuhan */
}

  .card {
    font-family: 'Poppins';
    width: 80%; /* Mengisi lebar kolom */
    height: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition: box-shadow 0.3s ease;
  }

  .card:hover{
    border: 1px solid #ccc;
    background-color:  rgb(255, 88, 62, 0.5);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
  }

  .popup {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    /* margin-top: 100px; */
  }


  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  }
  .close {
      position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .p {
    text-align: center;
    font-size: 20px ;
  }

  .p1 {
    font-family: 'Poppins';
  }

  .h {
    font-size: 30px;
    color: #92183D;
    font-weight: bold;
    font-style: italic;
    font-family: 'Poppins';
  }
