html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (max-width: 600px) {
    /* Gaya CSS untuk layar berlebar kurang dari 600px */
}


@font-face {
    font-family: 'Poppins';
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #FFF5EF;
    justify-content: center;
    align-items: center;
}


  .container {
    width: 80%;
    margin: 0 auto;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }

  .navbar {
    position: fixed;
    margin-top: -135px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: rgb(254, 221, 200, 0.8);
    padding: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .menu {
    justify-content:left;
    left: 580%;
    position: relative;
}

   /* Gaya untuk container */
   .search-container {
    text-align: center;
    margin-top: 6cm;
}

  /* Gaya untuk input pencarian */
.search-input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

  /* Gaya untuk tombol pencarian */
  .search-button {
    padding: 20px;
    background-color: #C82840;
    color: white;
    border: 1px solid #C82840;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  /* Gaya hover untuk tombol pencarian */
  .search-button:hover {
    background-color: #92183D;
  }

.text{
    color: #5A073B;
    font-family: 'Dela Gothic One';
    font-weight: bold;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: -180px;
    text-align: center;
}

.text1{
    color: #000000;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: -180px;
    text-align: center;
}
.mt-70{
    margin-top: 70px;
}
.isi{
    font-family: monospace;
    font-size: large;
}
