body{
    background-image: url('/gambar/background pict fix.png');
    background-size: cover;
}

.container {
    display: flex; /* Untuk menggunakan display flex */
    justify-content: center; /* Untuk meletakkan di tengah secara horizontal */
    align-items: center; /* Untuk meletakkan di tengah secara vertikal */
    height: 100vh; /* Sesuaikan dengan ketinggian viewport */
}
.kotak {
    width: 410px; /* Atur lebar kotak */
    height: 555px; /* Atur tinggi kotak */
    background-color: #5B073B; /* Warna latar belakang */
    box-shadow: 0px 4px 80px 0px #290F28;
    border-radius: 20px;
  }
.gambar{
    padding-left: 130px;
}
.kolom{
    width: 300px; /* Atur lebar kotak */
    height: 40px; /* Atur tinggi kotak */
    /* background-color:#fff; Warna latar belakang */
    margin-left:78px;
    border-radius: 10px;
}
.mt-40{
    margin-top: 40px;
}
.mt-20{
    margin-top: 20px;
}

.mt-50{
    margin-top: 50px;
}
.tombol{
    padding-left: 110px;
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
.tulisan{
    color: white;
    text-align: center;
    font-size: small;
}
.center-button {
    text-align: center; /* Mengatur alignment teks ke tengah */
    color: white;
    /* Tambahkan properti lain sesuai keinginan */
}

