html, body, div, span, applet, object, iframe,
    h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    @media screen and (max-width: 600px) {
        /* Gaya CSS untuk layar berlebar kurang dari 600px */
    }

    @media (min-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* Kolom 1 di perangkat mobile */
    @media (max-width: 767px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

/* Gaya untuk layar seluler */
@media only screen and (max-width: 600px) {
    .popup {
        width: 90vw; /* Sesuaikan dengan lebar yang diinginkan, 90vw artinya 90% dari lebar viewport */
        height: 80vh; /* Sesuaikan dengan tinggi yang diinginkan, 80vh artinya 80% dari tinggi viewport */
    }

    .popup-img {
        width: 100%; /* Sesuaikan dengan lebar yang diinginkan */
        height: auto;
    }

    .popup-text h2 {
        font-size: 24px; /* Sesuaikan dengan ukuran yang diinginkan */
    }

    .popup-text p {
        font-size: 16px; /* Sesuaikan dengan ukuran yang diinginkan */
    }

    .content {
        padding: 20px; /* Sesuaikan dengan padding yang diinginkan */
    }
}


    @font-face {
        font-family: 'Poppins';
        src: ("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
    }

    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        background-color: #FFF5EF;
        justify-content: center;
        align-items: center;
    }

    .background {
        background-size: auto;
        background-color: #FFF5EF;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .responsive-image {
        max-width: 100%;
        height: auto;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        display: flex;
        background-color: #feddc8cc;
        padding: 4px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .menu {
        justify-content:left;
        left: 580%;
        position: relative;
    }
    .text {
        font-size: 40px;
        font-family: 'Dela Gothic One';
        color: #5A073B;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: 10vw; /* Gunakan unit vw untuk ukuran responsif */
    }
    .text2 {
        color: #5A073B;
        font-family: 'Poppins';
        font-size: 27px;
        margin-top: 100px;
        text-align: center;
        font-weight: bold;
    }
    /*
    form {
        background-color: #FFF5EF;
        height: 50px;
        width: 150px;
        position: relative;
        top: 130px;
        left: 140px;
        padding: 20px;
        display: flex;
        flex-direction: column;

    }
    */

    button {
        background-color: #C1272D;
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        background-color: #D85E69;
    }

    .search-container {
        position: relative;
        text-align: center;
        margin: 0 auto; /* Tambahkan ini */
    }


    #searchInput,
    #searchButton {
        display: inline-block; /* Menjadikan elemen sejajar */
    }

    #searchInput {
        width: 250px; /* Sesuaikan lebar input sesuai kebutuhan */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-right: 5px; /* Jarak antara input dan tombol */
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    #searchButton {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #searchButton:hover {
        background-color: #5A073B;
    }


    #searchInput:focus {
        border-color: #5A073B;
        box-shadow: 0 0 5px #5A073B;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: -10%;
        position: relative;
    }

    .column {
        flex: 1; /* Merespons secara fleksibel, sehingga akan ada dua kolom */
    }

    .column {
        flex: 1; /* Merespons secara fleksibel, sehingga akan ada dua kolom */
    }

    .picture {
        height: 120px;
        width: 40%;
        background-color:#92183d00;
        object-fit: cover;
        border-radius: 7px;
        align-items: center;
        overflow: hidden;
        transition: transform 0.3s ease; /* Efek transisi pada hover */
    }

    .image-in-picture {
        width: 10px;
        object-fit: cover; /* Menjaga aspek gambar */
    }


    .picture img {
        width: 80%;
        height: 100%;
        align-items: center;
        object-fit: cover; /* Tambahkan properti ini */
        background-color: #92183d00;
        border-radius: 7px;
        transition: transform 0.3s ease;
    }


    .card:hover .picture img, picture{
        transform: scale(1.1); /* Efek zoom pada hover */
    }
    .text1 {
        /* margin-right: 100%; */
        text-align: center;
        top: 35%;
        left: 40%;
        position: relative;
        font-size: 13px;
        font-family: 'Poppins';
        color: #000000;
    }


    .container1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Tambahkan wrap agar elemen dapat meluncur ke baris berikutnya pada layar kecil */
    }

    .location-container{
        display: flex;
        align-items: center;
    }


    .search-container {
        text-align: center;
        margin-top: 1cm;
        display: flex;
        align-items: center;
    }

    /* Gaya untuk input pencarian */
    /* .search-input {
        padding: 18px;
        border: 1px solid #ccc;
        outline: none;
        margin-top: 50%;
    } */
    .search-input {
        padding: 18px;
        border: 1px solid #ccc;
        outline: none;
        margin-top: 40%;
        width: 100%; /* Gunakan lebar 100% agar input mengisi seluruh lebar kontainer */
    }
    /* Gaya untuk tombol pencarian */
    .search-button {
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #C82840;
        color: white;
        border: 1px solid #C82840;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        margin-top: 2.9%;
    }

    .locationBtn {
        justify-content: center;
        padding: 20px;
        background-color: #C82840;
        color: white;
        border: 1px solid #C82840;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        margin-top: 172%;
        margin-left: 443%;
    }
    /* Gaya hover untuk tombol pencarian */
    .search-button:hover {
        background-color: #92183D;
    }

    hr {
        border: none;
        height: 2px;
        background-color: #333; /* Warna garis */
        margin: 160px 110px; /* Jarak dari elemen di sekitarnya */
    }

    /* Atau, Anda juga dapat memberikan efek bayangan atau margin agar lebih menarik */
    hr.fancy {
        border: none;
        height: 5px;
        background: linear-gradient(to right, #5a073b, #FFE7D4 , #5a073b); /* Gradien warna */
        box-shadow: 0 5px 5px -5px #333; /* Efek bayangan */
    }

    .grid-container {
        display: grid;
        gap: 8px;
        margin-top: 10px;
        margin-left: 5vw;
        margin-bottom: 5px;
        margin-right: 5vw;
    }
    /* .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Gunakan auto-fill untuk kolom responsif
        gap: 8px;
        margin-top: 10px;
        margin-left: 5vw;
        margin-bottom: 5px;
        margin-right: 5vw;
    } */

      .card {
        margin-top: 5vw;
        cursor: pointer;
        height: auto;
        width: 100%; /* Gunakan lebar 100% agar mengisi seluruh lebar kontainer */
        max-width: 600px; /* Tetapkan lebar maksimum */
        background-color: #ffffff;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: 0.3s;
    }


    .card:hover{
        box-shadow: 0 4px 8px rgba(59, 59, 59, 0.6);
        border: 2px ;

    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }



    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .p {
        position: absolute;
        top: -60px;
    }

    .popup-img-container {
        text-align: center;
    }

    .popup-img {
        max-width: 100%; /* Sesuaikan dengan kebutuhan */
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .popup-text h2 {
            font-family: 'Poppins';
            font-size: 35px;
            color: #92183D;
            font-style: italic;
            font-weight: bold;
            margin-top: 20px;
    }

    .popup-text p {
        font-family: 'Vollkorn';
        margin-bottom: 10px;
        font-size: 20px;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 700px; /* Sesuaikan dengan ukuran yang diinginkan */
        height: 550px; /* Sesuaikan dengan ukuran yang diinginkan */
        overflow: auto;
        @media screen and (max-width: 600px) {
            width: 90%;
            height: 50%;
        }
    }

    .popup-body {
        max-width: 600px;
        margin: 0 auto;
    }

    .popup-info {
        display: flex;
        justify-content: space-between;
    }

    .popup-info p {
        flex-basis: 48%; /* 48% to leave some gap */
        text-align: left;
        margin: 0;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
